$("#new-project-form").slideUp();
$('#projects tr:last').after('<tr><td><%= @project.name %></td><td><%= @project.description %></td><td><%= link_to 'Use',@project %> <%= link_to 'Delete', @project, :confirm => 'Are you sure?', :method => :delete %></td></tr>');