<h1>Listing projects</h1>

<%= render 'list' %>

<br />

<div id="new-project-form">
</div>

<%= link_to "Add Project",  {:controller=>"projects",  :action => 'new', :id=>nil}, :remote=> true, :class=>"add-link" %>
